<nav class="navigation">
  <div class="nav-wrapper black">
    <a class="brand-mobile blue-text">BC</a>
    <a class="brand-pc blue-text">Banners Creator</a>
    <a href="#" class="download" (click)="saveImage(banner)">Download</a>
    <ul id="nav-mobile" class="nav-mobile">
      <li class="only-pc"><a (click)="setLayout('horizontal')">Horizontal</a></li>
      <li class="only-pc"><a (click)="setLayout('horizontalRev')">Horizontal Reverse</a></li>
      <li class="not-only-pc"><a (click)="setLayout('vertical')">Vertical</a></li>
      <li class="not-only-pc"><a (click)="setLayout('verticalRev')">Vertical Reverse</a></li>
    </ul>
  </div>
</nav>

<div [ngClass]="layout">
  <div class="banner">
    <div #banner class="banner-text" [ngStyle]="getBannerStyles()">
      <span contenteditable="true" [style.fontSize.px]="fontSize" [style.color]="fontColor">
        Your Banner
      </span>
    </div>
  </div>

  <div class="settings">
    <label>Color 1</label>
    <div class="colors">
      <span class="badge" *ngFor="let color of colors" [ngClass]="color" (click)="color1 = color"></span>
    </div>

    <input type="range" min="0" max="100" [(ngModel)]="percentColor1"/>

    <label>Color 2</label>
    <div class="colors">
      <span class="badge" *ngFor="let color of colors" [ngClass]="color" (click)="color2 = color"></span>
    </div>
    <input type="range" min="0" max="100" [(ngModel)]="percentColor2"/>

    <label>Width</label>
    <input type="range" min="0" max="1000" step="50" [(ngModel)]="width"/>

    <label>Height</label>
    <input type="range" min="0" max="1000" step="50" [(ngModel)]="height"/>

    <label>Font Size</label>
    <input type="range" min="12" max="72" [(ngModel)]="fontSize"/>

    <label>Font Color</label>
    <div class="colors">
      <span class="badge" *ngFor="let color of colors" [ngClass]="color" (click)="fontColor = color"></span>
    </div>
  </div>
</div>

<div class="container-fluid">
  <footer class="page-footer mt-5 p-20 center">
      <div class="container blue-text">{{ config?.date | date: 'yyyy' }}{{ config?.footer }}</div>
  </footer>
</div>
